/* src/styles.scss */
:root {
    --primary-color: #800020;
    /* Borgoña corporativo */
    --background-light: #f4f4f5;
    --text-main: #2d3748;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--background-light);
    color: var(--text-main);
}